.dash {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;

  &__item {
    width: 70vw;
    // height: 40vh;
    max-width: 65vh;
    border: 1px solid black;
    margin: 2rem 0;
    margin-left: 10vw;
    box-shadow: 0 0 3rem rgba(42, 60, 36, 0.438);
    

    &--title {
      margin: 0;
      height: 4rem;
      width: 100%;
      background-color: $laurel-green;

    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    // height: 20rem;
    
    &--item {
      width: 100%;
      height: 4rem;
      // background-color: rgb(51, 84, 175);
      border-top: 1px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    
  }
}

canvas {
  max-height: 90%;
}



.btn {
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.list {
  &__main {
    min-width: 10rem;
  }

  &__name {
    display: inline;
  }

  &__check {
    margin: 0 1rem;
    // height: 3rem;
    // width: 3rem;

  }
}

.create {
  position: relative;
  height: 4rem;
  border-top: 1px solid black;
  background-color: $laurel-green;


  &:hover {
    cursor: pointer;
    background-color: rgb(164, 173, 153);
    // color: white;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__header {
    &--item {
      margin: 0;
    }
  }

  &__menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vw;
    background-color: $eggshell;
    z-index: 10;
    animation-name: fromBottom;
    animation-duration: 0.3s ease-in;
    // color: white;
    font-size: 1.6rem;
    box-shadow: 0 0 20rem rgba(0, 0, 0, 0.575);
    border-radius: 10px;
    padding: 2rem 2.5rem;

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--content {
      position: relative;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
    }


    &--btn {
      position: absolute;
      bottom: 0;
      right: 0;
      border: none;
      border-radius: 3px;
      padding: 1rem 2rem;
      background-color: $kombu-green;
      color: white;
      transition: .2s ease-in;

      &:hover {
        cursor: pointer;
        bottom: 3px;
      }
    }
  }


}

.close__btn {
  position: absolute;
  top: -1rem;
  right: -1.5rem;

  &:hover {
    cursor: pointer;
  }
}

@keyframes fromBottom {
  from {
    top: 100%;
    opacity: 0;

  } to {
    top: 50%;
    opacity: 100;
  }
}