.dash {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;

  &__item {
    width: 70vw;
    height: 40vh;
    max-width: 65vh;
    border: 2px solid black;
    margin: 2rem 0;
    margin-left: 10vw;
  }
}

canvas {
  max-height: 90%;
}