@import './Variables.scss';
@import './Components/Footer/Footer.scss';
@import './Components/StatsBar/StatsBar.scss';
@import './Components/LogBtn/LogBtn.scss';
@import './Components/Nav/Nav.scss';

@import './Pages/About/About.scss';
@import './Pages/Dashboard/Dashboard.scss';
@import './Pages/Settings/Settings.scss';
@import './Pages/Landing/Landing.scss';
@import './Pages/Market/Market.scss';


/* SCSS HEX */
$eggshell: #faf3ddff;
$laurel-green: #c8d5b9ff;
$kombu-green: #2a3c24ff;

body {
  background-color: $eggshell;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

main {
  min-height: 100vh;
  padding: 2rem;
}